body {
    margin:0;
    padding:0;
    background:url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1910&q=80");
  }
  
  
  .header {
      text-align: center;
  }
  
  h1{
      font-family:Raleway, Arial, Helvetica, sans-serif;
      margin-bottom: 0;
      opacity: 0.8;
  }
  
  .header p{
      margin-top: 0;
      font-family:Raleway, Arial, Helvetica, sans-serif;
      color: brown;
      font-style: italic;
      font-weight: 490;
      letter-spacing: 3px;
  }
  
  .display{
      background-color: darkcyan;
      opacity: 0.5;
      height: 40vh ;
      width: 100vw ;
      margin-top: 80px ;
      margin-bottom: 40px;
  }
  
  .slide {
      padding: 80px;
      text-align: center;
      font-family: Raleway, Arial, Helvetica, sans-serif;
    }
  
    q {
        font-style: italic;
        color:whitesmoke;
        text-align: center;
        font-weight: 500;
        font-size: 40px;
      }
  
      .author {
          color: 	darkred;
          text-align: center;
          font-size: 16px;
      }
  
  button{
      height: 50px;
      width: 250px;
      background-color:#b15f22;
      border: 5px;
      border-color: whitesmoke;
      border-style: double;
      font-family: Raleway, Arial, Helvetica, sans-serif;
      letter-spacing: 3px;
      font-size: 20px;
      margin-left: 40vw ;
      border-radius: 20px;
      margin-top: 9.2vw;
      user-select: none;
  }
  
  button:hover {
      color: orangered;
      border-color:darkgreen;
      background-color: beige;
  }
  
  @media screen and (max-width:480px) {
   body{
       max-width: 100vw;
       max-height: 100vh;
   }
    
    h1{
     font-size: 22px;
    }
    
   .header p{
     font-size:11px;
     opacity: 0.4;
     font-weight: 900;
     color: maroon;
   }
  
    .display{
      margin-top: 25vw;
      height: 50vh;
    }
    
    .slide{
      padding-top:12vw;
      text-align:center;
    }
    
    q{
    font-size: 22px;
   }
  
   button{
   height: 35px;
   width: 200px;
   font-size: 13px;
   margin-left: 25vw;
   margin-top: 16vw;
   }
  }